<div class="card border-primary mb-3">
    <div class="card-header">Pacientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Pacientes</h5>
        
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/pacientes/form-pacientes']">Crear Paciente</button>
        </div>

        <div *ngIf="pacientes.length == 0" class="alert alert-info">
        No hay registros en la base de datos
        </div>
        <table class="table table-bordered table-striped transparent-table" *ngIf="pacientes.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>numeroIdentificacion</th>
                    <th>nombrePaciente</th>
                    <th>edad</th>
                    <th>direccion</th>
                    <th>telefono</th>
                    <th>correoElectronico</th>
                    <th>sexo</th>
                    <th>contactoEmergencia</th>
                    <th>telefonoEmergencia</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientes">
                    <td>{{paciente.idPacientes}}</td>
                    <td>{{paciente.numeroIdentificacion}}</td>
                    <td>{{paciente.nombrePaciente}}</td>
                    <td>{{paciente.edad}}</td>
                    <td>{{paciente.direccion}}</td>
                    <td>{{paciente.telefono}}</td>
                    <td>{{paciente.correoElectronico}}</td>
                    <td>{{paciente.sexo}}</td>
                    <td>{{paciente.contactoEmergencia}}</td>
                    <td>{{paciente.telefonoEmergencia}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/pacientes/form-pacientes',paciente.idPacientes]" class="btn btn-primary">Editar</button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" (click)='delete(paciente)' class="btn btn-danger btn-sm"> Eliminar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
