<div class="container" style="padding: 5%;">
    <h1>Especialidades Lista</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let especialidad of especialidades; let i=index">
                <th>{{i+1}}</th>
                <th>{{especialidad.idEspecialidad}}</th>
                <th>{{especialidad.nombreEspecialidad}}</th>
            </tr>
        </tbody>
    </table>
</div>