<div class="container" style="padding: 5%;">
    <h1>Crear Doctor</h1>
    <hr>
    <form (ngSubmit)="save()">
        <div class="form-group">
            <label for="nombreMedico">nombreMedico</label>
            <input type="email" class="form-control" id="nombreMedico" placeholder="Enter nombreMedico" [(ngModel)]="doctores.nombreMedico" name="nombreMedico">
        </div>



        <div class="form-group">
            <label for="especialidad">especialidad</label>
            <select name="especialidad" id="especialidad" class="form-select" [(ngModel)]="doctores.especialidades.idEspecialidades">
                <option value="" disabled selected>Select a country</option>
                <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad">{{ especialidad.nombreEspecialidad }}</option>
            </select>
        </div>



        
        <div class="form-group">
            <label for="licenciaMedica">Licencia Médica</label>
            <input type="text" class="form-control" id="licenciaMedica" placeholder="Enter licencia Medica"
                [(ngModel)]="doctores.licenciaMedica" name="licenciaMedica">
        </div>

        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" class="form-control" id="cargo" placeholder="Enter cargo" [(ngModel)]="doctores.cargo"
                name="cargo">
        </div>

        <div class="form-group">
            <label for="turno">Turno</label>
            <input type="text" class="form-control" id="turno" placeholder="Enter turno" [(ngModel)]="doctores.turno"
                name="turno">
        </div>
        
        <br>
        <button type="submit" class="btn btn-success">Crear Doctor</button>
    </form>
</div>
