<div class="container" style="padding: 5%; background-color: rgb(54, 59, 59); border-radius: 10px; color: white;">
    <h1>Crear Doctor</h1>
    <hr>
    <form (ngSubmit)="save()">
        <div class="mb-3">
            <label for="nombreMedico" class="form-label">Nombre Médico</label>
            <input type="text" class="form-control" id="nombreMedico" placeholder="Enter nombreMedico"
                [(ngModel)]="doctores.nombreMedico" name="nombreMedico">
        </div>

        <div class="mb-3">
            <label for="especialidad" class="form-label">Especialidad</label>
            <select name="especialidad" id="especialidad" class="form-select"
                [(ngModel)]="doctores.especialidades.idEspecialidades">
                <option value="" disabled selected>Seleccionar Especialidad</option>
                <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad">{{
                    especialidad.nombreEspecialidad }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="licenciaMedica" class="form-label">Licencia Médica</label>
            <input type="text" class="form-control" id="licenciaMedica" placeholder="Enter licencia Medica"
                [(ngModel)]="doctores.licenciaMedica" name="licenciaMedica">
        </div>

        <div class="mb-3">
            <label for="cargo" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="cargo" placeholder="Enter cargo" [(ngModel)]="doctores.cargo"
                name="cargo">
        </div>

        <div class="mb-3">
            <label for="turno" class="form-label">Turno</label>
            <input type="text" class="form-control" id="turno" placeholder="Enter turno" [(ngModel)]="doctores.turno"
                name="turno">
        </div>

        <br>
        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Crear Doctor</button>
    </form>
</div>