<div class="card border-primary mb-3">
    <div class="card-header">Doctores</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Doctores</h5>
        
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/doctores/formdoctores']">Crear Doctor</button>
        </div>

        <div *ngIf="doctores.length == 0" class="alert alert-info">
        No hay registros en la base de datos
        </div>
        <table class="table table-bordered table-striped transparent-table" *ngIf="doctores.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>especialidad</th>
                    <th>licencia</th>
                    <th>cargo</th>
                    <th>turno</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctores">
                    <td>{{doctor.idDoctores}}</td>
                    <td>{{doctor.nombreMedico}}</td>
                    <td>{{doctor.idEspecialidades}}</td>
                    <td>{{doctor.licenciaMedica}}</td>
                    <td>{{doctor.cargo}}</td>
                    <td>{{doctor.turno}}</td>

                    <td>
                        <button type="button" name="editar" [routerLink]="['/doctores/formdoctores',doctor.idDoctores]" class="btn btn-primary">Editar</button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" (click)='delete(doctor)' class="btn btn-danger btn-sm">Eliminar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>