<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="nombreEspecialidad" class="col-form-label col-sm-2">Especialidad</label>
                <div class="col-sm-6">      
                    <input type="text" class="form-control" [(ngModel)]="especialidades.nombreEspecialidad" name="nombreEspecialidad">
                </div>
            </div>

            <div class="form-group row">
                <label for="especialidad" class="col-form-label col-sm-2">Descripcion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="especialidades.descripcionEspecialidad" name="especialidad">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'*ngIf="!especialidades.idEspecialidad else elseBlock">Crear</button>
                   
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Actualizar</button>
                    </ng-template>
                    
                </div>
            </div>

        </form>
    </div>
</div>
