<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="nombreMedico" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="medicos.nombreMedico" name="nombreMedico">
                </div>
            </div>

            <div class="form-group row">
                <label for="especialidad" class="col-form-label col-sm-2">Especialidad</label>
                <div class="col-sm-6">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    <input type="text" class="form-control"[(ngModel)]="medicos.especialidad" name="especialidad">
                </div>
                
            </div>

            <div class="form-group row">
                <label for="licenciaMedica" class="col-form-label col-sm-2">Licencia</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"[(ngModel)]="medicos.licenciaMedica" name="licenciaMedica">
                </div>
            </div>

            <div class="form-group row">
                <label for="cargo" class="col-form-label col-sm-2">Cargo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="medicos.cargo" name="cargo">
                </div>
            </div>

            <div class="form-group row">
                <label for="turno" class="col-form-label col-sm-2">Turno</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="medicos.turno" name="turno">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'*ngIf="!medicos.idMedicos else elseBlock">Crear</button>
                   
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Actualizar</button>
                    </ng-template>
                    
                </div>
            </div>

        </form>
    </div>
</div>
